[submodule "milemor/sit_web"]
	path = milemor/sit_web
	url = git@github.com:milemor/sit_web.git
	branch = 13.0

[submodule "milemor/sit_commission"]
	path = milemor/sit_commission
	url = git@github.com:milemor/sit_commission.git
	branch = 13.0

[submodule "milemor/sit_account-financial-tools"]
	path = milemor/sit_account-financial-tools
	url = git@github.com:milemor/sit_account-financial-tools.git
	branch = 13.0

[submodule "milemor/sit_account-invoicing"]
	path = milemor/sit_account-invoicing
	url = git@github.com:milemor/sit_account-invoicing.git
	branch = 13.0

[submodule "milemor/sit_account-payment"]
	path = milemor/sit_account-payment
	url = git@github.com:milemor/sit_account-payment.git
	branch = 13.0

[submodule "milemor/sit_odoo-argentina"]
	path = milemor/sit_odoo-argentina
	url = git@github.com:milemor/sit_odoo-argentina.git
	branch = 13.0

[submodule "milemor/sit_odoo-argentina-ee"]
	path = milemor/sit_odoo-argentina-ee
	url = git@github.com:milemor/sit_odoo-argentina-ee.git
	branch = 13.0

[submodule "milemor/sit_website"]
	path = milemor/sit_website
	url = git@github.com:milemor/sit_website.git
	branch = 13.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
