[submodule "milemor/sit_web"]
	path = milemor/sit_web
	url = git@github.com:milemor/sit_web.git
	branch = 13.0

[submodule "milemor/sit_commission"]
	path = milemor/sit_commission
	url = git@github.com:milemor/sit_commission.git
	branch = 13.0

[submodule "milemor/sit_account-financial-tools"]
	path = milemor/sit_account-financial-tools
	url = git@github.com:milemor/sit_account-financial-tools.git
	branch = 13.0
